@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to bottom, rgb(90, 32, 32), rgb(239, 156, 83));
  width: 100vw;
  height: 10vh;

  position: sticky;
  top: 0;
  z-index: 1000;
  flex-shrink: 0;

}

.nav-link {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  font-size: 1.5vw;
  padding: 5px;

}

.nav-link:active {
  background-color: white;
}

.nav-link:hover {
  background-color: rgb(90, 32, 32)

}

.common-links,
.site-links {
  display: flex;
  justify-content: space-between;
  gap: 20px
}
.common-links{
  margin-right: 10px;
}

.logo {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  line-height: 1;
  margin-left: 10px;
  color: white;
  transform: translateY(-4px);
  text-decoration: none;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

